In [2]:
import pandas as pd

In [19]:
data1 = { #딕셔너리로 { "열" : 리스트 } 형태의 자료를 구성해 df 생성
    "이름" : ["홍길동", "강감찬", "유관순"],
    "나이" : [41, 50, 16],
    "성별" : ["남", "남", "여"]
}
df = pd.DataFrame(data1)
df

    이름  나이 성별
홍  홍길동  41  남
감  강감찬  50  남
유  유관순  16  여

In [10]:
data2 = [ #리스트 성분으로 딕셔너리를 넣는 '중첩(nested)' 방식으로 자료를 구성해 df 생성. 결과는 위와 동일
    { "이름" : "홍길동", "나이" : 41, "성별" : "남"},
    { "이름" : "강감찬", "나이" : 50, "성별" : "남"},
    { "이름" : "유관순", "나이" : 16, "성별" : "여"}
]
df = pd.DataFrame(data2)
df

    이름  나이 성별
0  홍길동  41  남
1  강감찬  50  남
2  유관순  16  여

In [13]:
df.info() #df 각 열의 자료형, null갯수 등의 정보를 요약해서 출력

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   나이      3 non-null      int64
 2   성별      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [15]:
df1.shape # -> (3, 3) 3행 3열의 데이터

(3, 3)

In [24]:
df.columns

Index(['이름', '나이', '성별'], dtype='object')

In [23]:
df.columns #컬럼명을 list로 묶어 출력(Index 객체)
cols = df.columns
for col in cols: #Index 객체는 반복문으로 접근 가능
    print(col) #반복문을 통해 컬럼명에 따로 접근해 print 실행

이름
나이
성별